.header {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
}
.top {
    color: rgba(33, 33, 33, 1);
    position: absolute;
    margin-top: 15px;
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    margin-right: 20px;
}

.top:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    height: 90vh;
    width: 37vw;
    margin: auto;
}

#logo {
    position: absolute;
    height: 92px;
    width: 272px;
    margin-top: 148px;
    margin-left: 132px;
    justify-content: center;
}
span { 
    position: absolute;
    color: rgb(66, 133, 244);
    font-family: roboto-regular, arial, sans-serif;
    font-size: 16px;
    margin-top: 223px;
    margin-left: 347px;
}

#box {
    width: 487px;
    height: 42px;
    margin-top: 261px;
    position: absolute;
    padding-left: 45px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px ;
    border-top-left-radius: 50px ;
    border-top-right-radius: 50px;
    border-top-color:rgba(0, 0, 0, 0.087);
    border-right-color: rgba(0, 0, 0, 0.087);
    border-left-color: rgba(0, 0, 0, 0.087);
    border-bottom-color: rgba(0, 0, 0, 0.087);
    background-color: rgb(255, 255, 255);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    cursor: text;
}

#box:hover {
    box-shadow: 0px 1px 3px 0px rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
}


#lupa {
    color: blue;
    position: absolute;
    margin-top: 271px;
    margin-left: 489px;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 20px;
    width: 36px;
    display: block;
    fill: rgb(154, 160, 166);
}

#mic {
    width: 24px;
    height: 24px;
    margin-top: 272px;   
    margin-left: 451px;
    position: absolute;
}

#camera {
    margin-top: 272px;
    position: absolute;
    margin-left: 407px;
    width: 24px;
}
#lupainu {
    position: absolute;
    margin-top: 273px;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 20px;
    width: 38px;
    display: block;
    fill: rgb(154, 160, 166);
    margin-left: 6px;
}

.baseboard {
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    margin-top: 100;
    width: 100vw;
    height: 10vh;
    display: flex;
}
.baseboardleft {
    display: flex;
    width: 50vw;
    height: 10vh;
    justify-content: flex-start;
    margin: auto;
}
.baseboardright {
    display: flex;
    width: 50vw;
    height: 10vh;
    justify-content: flex-end;
    margin: auto;
}
.linkbb {
    position:absolute;
    color: rgba(113, 118, 122, 1);
    padding-top: 15px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#bb1{
    margin-left: 10px;
}
#bb2 {
    margin-left: 100px;
}
#bb3 {
    margin-left: 170px;
}
#bb4 {
    margin-right: 130px;
}
#bb5 {
    margin-right: 82px;
}
#bb6 {
    margin-right: 20px;
}
#bb1:hover {
    text-decoration: underline;
}
#bb2:hover {
    text-decoration: underline;
}
#bb3:hover {
    text-decoration: underline;
}
#bb4:hover {
    text-decoration: underline;
}
#bb5:hover {
    text-decoration: underline;
}
#bb6:hover {
    text-decoration: underline;
}
